mat-card {
  margin: 20px 0px;
  border-radius: 20px;
  background-color: white;
}
mat-card-title {
  color: black;
}
mat-card-content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.center p {
  color: black;
}
.left-side img {
  border-radius: 10%;
  width: 160px;
  height: 160px;
  margin-top: 10px;
  padding-left: 30px;
}

.right-side {
  button {
    margin-bottom: 20px;
  }
}

.spinner {
  display: flex;
  justify-content: center;
}
